/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

h1 {
	color: #7d8278;
}

/* ///// LAYOUT ///// */

header {
	border-bottom: 1px solid #e2e2e2;
	font: Normal 72px/92px 'Baskerville', Serif;
	color: #9caba5;
	margin-bottom: 5px;
}

#necklace {
	border: 5px solid #9caba5;
}

/* Write all remaining styles here */
